/* Base Styles */
:root {
    /* Default Colors */
    --blue-color: #375BFF;
    --dark-blue-color: #151E25;
    
    /* Default Fonts */
    --default-font: "Noto Serif TC", serif;
}

/* Global Layout */
body {
    font-family: var(--default-font);
    color: white;
    background-color: var(--dark-blue-color);
}



/* Link Styles */
a {
    color: white;
    text-decoration: underline;
    text-decoration-color: var(--blue-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--blue-color);
    text-decoration: underline;
    text-decoration-color: var(--blue-color);
}

/* Paragraph Styles */
p {
    font-weight: 400;
}

p strong {
    font-weight: 700; /* Bold Text */
}

/* Heading Styles */
h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--blue-color);
    color: white;
}

/* Fonts */
.noto-serif-tc {
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.noto-serif-tc-200 { font-weight: 200; }
.noto-serif-tc-300 { font-weight: 300; }
.noto-serif-tc-400 { font-weight: 400; }
.noto-serif-tc-500 { font-weight: 500; }
.noto-serif-tc-600 { font-weight: 600; }
.noto-serif-tc-700 { font-weight: 700; }
.noto-serif-tc-800 { font-weight: 800; }
.noto-serif-tc-900 { font-weight: 900; }