/* Root styles */
:root {
    /* Color variables */
    --dark-grey-color: #111;
    --blue-color: #375BFF;
    --dark-blue-color: #151E25;
    
    /* Font variables */
    --default-font: "Noto Serif TC", serif;

    /* Navbar height */
    --navbar-height: 60px;

    /* Max width */
    --max-width: 1280px;
}

/* Global layout */
body {
    font-family: var(--default-font);
    color: white;
    background-color: var(--dark-grey-color);
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

/* Main content area */
.section {
    width: 90%;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.first-section {
    width: 90%;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: calc(var(--navbar-height) + 20px);
    padding-bottom: 40px;
}

.row {
    display: flex;
    min-height: auto;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}



.content-wrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
    position: relative;
}

.columns-container {
    display: flex;
}

.left-column,.center-column {
    flex: 1;
    padding: 0px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.right-column {
    flex: 1;
    padding: 0px;
    margin-right: 0px; /* Remove right margin */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Typography styles */
p {
    font-weight: 200;
    line-height: 1.8;
    font-size: 12pt;
    margin: 0;
    padding-bottom: 16px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

p strong {
    font-weight: 500;
}

h1 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 22pt;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

h2 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 18pt;
}

h3 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 16pt;
}

a {
    color: white;
    text-decoration: underline;
    text-decoration-color: var(--blue-color);
    transition: color 0.3s ease;
    line-height: 1.8;
}

a:hover {
    color: var(--blue-color);
}

/* Font classes */
.noto-serif-tc {
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.noto-serif-tc-200 { font-weight: 200; }
.noto-serif-tc-300 { font-weight: 300; }
.noto-serif-tc-400 { font-weight: 400; }
.noto-serif-tc-500 { font-weight: 500; }
.noto-serif-tc-600 { font-weight: 600; }
.noto-serif-tc-700 { font-weight: 700; }
.noto-serif-tc-800 { font-weight: 800; }
.noto-serif-tc-900 { font-weight: 900; }

/* Design Elements */
.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--blue-color);
    margin-top: 30px;
    margin-bottom: 30px;
}

.social-icons {
    display: inline-block;
}

.social-icons a {
    font-size: 16px;
    color: white;
    margin-right: 20px; /* 添加右邊距 */
    display: inline-block; /* 確保每個連結都是 inline-block */
}

.social-icons a:last-child {
    margin-right: 0; /* 移除最後一個圖標的右邊距 */
}

.social-icons a:hover {
    color: var(--blue-color); 
}


/* Navigation bar */
.navbar {
    background-color: rgba(0, 0, 0, 0.0);
    position: fixed;
    height: var(--navbar-height);
    z-index: 1000;
    width: 100%;
    padding: 0;
}

.navbar .container {
    height: 100%;
    width: 90%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 30px;
}

.navbar a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
    font-size: 12pt;
}

.navbar a:hover {
    color: rgba(255, 255, 255, 0.4);
}

.navbar a.active {
    color: rgba(255, 255, 255, 1);
}



/* Footer styles */
footer {
    font-family: var(--default-font);
    color: white;
    background-color: var(--dark-blue-color);
    margin: 0;
    padding: 0;
    padding-top: 0px;
}

footer .section {
    width: 90%;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer .left-column, .center-column {
    flex: 1;
    padding: 0px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

footer .right-column {
    flex: 1;
    padding: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

footer a {
    color: white;
    transition: color 0.3s ease;
    line-height: 1.8;
    text-decoration: none;
}

footer a:hover {
    color: var(--blue-color);
}

#footer-credits {
    font-size: 8pt;
}

/* Mobile version styles */
@media (max-width: 1024px) {
    .row {
        flex-direction: column;
    }
    
    .left-column, .center-column, .right-column {
        flex: none;
    }
}

@media (max-width: 768px) {
    .row, .content-wrapper {
        flex-direction: column;
    }
    
    .left-column, .center-column, .right-column {
        flex: none;
    }

    .section > * {
        width: 100%;
        text-align: left;
    }

    .navbar .container {
        justify-content: center;
    }

    .navbar ul {
        width: 100%;
        justify-content: space-around;
    }

    .navbar li {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .navbar .container {
        justify-content: center;
    }

    .navbar ul {
        width: 100%;
        justify-content: space-around;
    }

    .navbar li {
        margin: 0;
    }
}