{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>
    <h2>Account value: {{ account_value }}</h2>
    <h2>Total stock value: {{ total_stock_value }}</h2>
    <p>Percentage: {{ total_stock_percentage }}</p>
    <table class="table">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.quantity }}</td>
                    <td>{{ stock.price | usd }}</td>
                    <td>{{ stock.total_amount | usd }}</td>
                    <td>{{ "%.2f"|format(stock.percentage) }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Cash value: {{ cash }}</h2>
    <p>Percentage: {{ cash_percentage }}</p>
{% endblock %}
